$normal-width-limit: 900px;
$mobile-width-limit: 540px;




///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}




@font-face {
  font-family: 'billy';
  src: url('resources/billy.ttf');
  font-weight: normal;
}



.yellow-font {
  color: #ffd951;
}

.red-font {
  color: #ff6e55;
}

.blue-font {
  color: #9dc0f4;
}


.center-contents {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}





/* START General Styles */

  * {
    font-family: 'billy', sans-serif;
    font-weight: normal;
    cursor: default;
    margin: 0;
    padding: 0;
    /*background-color: rgba(0,0,0,.1);*/
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  a:link, a:visited {
    color: rgba(0,0,0,0.8);
  }

  html, body {
    height: 100%;
    overflow-x: hidden;
  }

  body {
    background-color: white;
  }

  .page-content {
    height: inherit;
    width: inherit;
    max-width: $normal-width-limit;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    padding: 0px 10px 0px 10px;
  }


  .mouse-area {
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }


/* END General Styles */







  .loading-page {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
  }

  .loading-text {
    @include responsive-font(8vw, 32px, 88px);
  }






/*Start Section Styles*/



  .section {
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-height: 320px;
    min-width: 100px;
    max-width: 600px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    color: rgba(0,0,0,0.8);
  }



  .section-content {
    text-align: center;
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    color: inherit;
  }

  .section-wrapper {
    width: inherit;
    height: inherit;
    position: relative;
    opacity: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }


/* End Section Styles */













  /* START Cover styles */

    .cover-section {
      background-image: none;
      height: 100%;
      width: 100%;
    }


    .cover-contact-wrapper {
      position: absolute;
      height: auto;
      width: 100%;
    }

    .cover-content-wrapper {
      height: 100%;
    }

    .contact-button {
      width: 224px;
      height: 64px;
      opacity: 0;
    }

    .contact-dropdown {
      width: 50%;
      height: 100px;
      position: absolute;
      top: 64px;
      left: 25%;
      opacity: 0;
      display: none;
      background-image: url("resources/dropdown-contacts.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .dropdown-closer {
      font-size: 2em;
      display: block;
      position: absolute;
      top: 16px;
      right: 40px;
    }





    .contact-info {
      font-size: 2em;
      position: relative;
      top: 4px;
    }

    .contact-info a {
      height: 100%;
    }

    .contact-info img {
      height: 22px;
      width: auto;
      margin: 0 10px 0 10px;
      cursor: pointer;
    }

    .cover-header-main {
      width: 100%;
      overflow: visible;
    }

    .letter {
      @include responsive-font(10vw, 32px, 124px);
      opacity: 0;
      float: left;
    }



    .cover-subheader {
      @include responsive-font(4vw, 22px, 44px);
      width: 100%;
      opacity: 0;
    }

    .cover-text {
      text-align: center;
      width: 90%;
      color: rgba(0,0,0,0.8);
    }

    .scroll-arrow {
      width: 2%;
      min-width: 14px;
      height: 40px;
      position: absolute;
      left: 49%;
      bottom: 3%;
    }

    .scroll-arrow-line, .scroll-arrow-point {
      stroke-dasharray: 18;
      stroke-dashoffset: 18;
    }






  /* END Cover styles*/






#about-section .section-content {
  @include responsive-font(6vw, 20px, 36px);
}

#about-section .section-wrapper {
  background-image:url("resources/about-me-box.svg");
}







// START SKILLS STYLES

.skills-section-content {
  width: 100%;
  height: 70%;
}

.skill-wrapper {
  width: 30%;
  height: 100%;
  float: left;
  margin: 0 1.65% 0 1.65%;
}

.skill-icon-container {
  position: relative;
  width: 70%;
  height: 50%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;
}

.skill-icon {
  width: 100%;
  height: auto;
  opacity: 0;
}

.skill-text {
  height: 50%;
  opacity: 0;
}


.skill-header {
  width: 100%;
  text-align: center;
  @include responsive-font(6vw, 24px, 36px);
}

.skill-description {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  @include responsive-font(3vw, 18px, 24px);
  opacity: 0.7;
}

// END SKILLS STYLES













/*START Work Styles*/

  #work-section {
    width: 100%;
    height: 100%;
    min-height: 140px;
    max-height: 200px;
    min-width: 100px;
    max-width: 600px;
  }


  .work-button {
    width: 80%;
    height: auto;
  }



/* END Work Styles*/









/* START Fin Styles*/



  .fin-header {
    text-align: center;
    @include responsive-font(16vw, 96px, 196px);
    opacity: 0;
  }

  .fin-section {
    height: auto;
    overflow: hidden;
  }

/* END Fin Styles*/









@media (max-width: $mobile-width-limit) {
  .contact-dropdown {
    width: 100%;
    left: 0;
    top: 20px;
  }
  .contact-info img {
    height: 4px;
  }
}


  @media (max-width: $mobile-width-limit) {
    .work-button {
      width: 100%;
      height: 90%;
      top: 5%;
    }
  }
